<ion-header class="ion-no-border">
  <ion-toolbar class="headerClass">
    <ion-buttons slot="end" class="marginClass">
      <ion-icon name="location-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="marginClass">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search" class="searchBar"></ion-searchbar>
  <p class="onlineDoctor">Online Doctor</p>
  <ion-grid>
    <ion-row>
     <ion-col size="3"><img src="assets/icon/doctor1.png" class="imageClass"><p class="doctorname">Jake Smile</p></ion-col>
     <ion-col size="3"><img src="assets/icon/doctor1.png" class="imageClass"><p class="doctorname">Randall</p></ion-col>
     <ion-col size="3"><img src="assets/icon/doctor1.png" class="imageClass"><p class="doctorname">Jenny</p></ion-col>
     <ion-col size="3"><img src="assets/icon/doctor1.png" class="imageClass"><p class="doctorname">Marco</p></ion-col>
    </ion-row>
  </ion-grid>
  <p class="onlineDoctor">Popular Doctor</p>
  <ion-card>
     <ion-grid>
       <ion-row>
         <ion-col size="3"><img src="assets/icon/doctor.jpg" class="cardImage"></ion-col>
         <ion-col size="9">
           <ion-row>
             <ion-label class="cardName">Jenny</ion-label><p class="doctorType">Ortodontist</p>
             <ion-label class="ratingClass">4.5<span class="star"><img src="assets/icon/star.jpg" class="starImage"></span></ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="cost">$ 300</ion-label>
            <ion-label class="ratingClass"><ion-button size="small" shape="round" class="bookButton">Book</ion-button></ion-label>
         </ion-row>
         </ion-col>
       </ion-row>
     </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="3"><img src="assets/icon/doctor1.png" class="cardImage"></ion-col>
        <ion-col size="9">
          <ion-row>
            <ion-label class="cardName">Maria</ion-label><p class="doctorType">Radiologist</p>
            <ion-label class="ratingClass">4.5<span class="star"><img src="assets/icon/star.jpg" class="starImage"></span></ion-label>
         </ion-row>
         <ion-row>
           <ion-label class="cost">$ 300</ion-label>
           <ion-label class="ratingClass"><ion-button size="small" shape="round" class="bookButton">Book</ion-button></ion-label>
        </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
 </ion-card>
 <ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="3"><img src="assets/icon/doctor.jpg" class="cardImage"></ion-col>
      <ion-col size="9">
        <ion-row>
          <ion-label class="cardName">Jeane</ion-label><p class="doctorType">Dentist</p>
          <ion-label class="ratingClass">4.5<span class="star"><img src="assets/icon/star.jpg" class="starImage"></span></ion-label>
       </ion-row>
       <ion-row>
         <ion-label class="cost">$ 300</ion-label>
         <ion-label class="ratingClass"><ion-button size="small" shape="round" class="bookButton">Book</ion-button></ion-label>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="3"><img src="assets/icon/doctor1.png" class="cardImage"></ion-col>
      <ion-col size="9">
        <ion-row>
          <ion-label class="cardName">Marco</ion-label><p class="doctorType">Dentist</p>
          <ion-label class="ratingClass">4.5<span class="star"><img src="assets/icon/star.jpg" class="starImage"></span></ion-label>
       </ion-row>
       <ion-row>
         <ion-label class="cost">$ 300</ion-label>
         <ion-label class="ratingClass"><ion-button size="small" shape="round" class="bookButton">Book</ion-button></ion-label>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
</ion-content>
